<?xml version="1.0"?>
<robot name="plate" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="plate" params="prefix parent *origin">

    <link name="${prefix}_plate">
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find eufs_sensors)/meshes/plate.dae" scale="1 1 1"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find eufs_sensors)/meshes/plate.dae" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_base_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_plate"/>
    </joint>

  </xacro:macro>
</robot>
